<div id="body-container">
  <div id="body-content">

    <section class="nav nav-page">
      <div class="container">
        <div class="row">
          <div class="span7">
            <header class="page-header">
              <h3>WEB FULL STACK JAVASCRIPT MEAN<br />
                <small>(MongoDB + Express + Angular + NodeJS)</small>
              </h3>
            </header>
          </div>
          <div class="page-nav-options">
            <div class="span9">
              <!-- <ul class="nav nav-pills">
                <li>
                  <a href="#"><i class="icon-home icon-large"></i></a>
                </li>
              </ul> -->
              <ul class="nav nav-tabs">
                <li class="active">
                  <a href="#" class="btn btn-link"><i class="icon-home"></i>Home</a>
                </li>
                <li><a class="btn btn-link" (click)="profileURL()">Cá nhân</a></li>
                <li><a class="btn btn-link" (click)="categoryURL()">Nhóm sản phẩm</a></li>
                <li><a class="btn btn-link" (click)="productURL()">Sản phẩm</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="page container">
      <div class="row">
        <div class="span8">
          <div class="box">
            <div class="box-header">
              <i class="icon-bookmark"></i>
              <h5>Khóa học</h5>
            </div>
            <div class="box-content">
              <div class="btn-group-box">
                <!-- <button class="btn"><i class="icon-dashboard icon-large"></i><br />Dashboard</button>
                <button class="btn"><i class="icon-user icon-large"></i><br />Account</button>
                <button class="btn"><i class="icon-search icon-large"></i><br />Search</button>
                <button class="btn"><i class="icon-list-alt icon-large"></i><br />Reports</button>
                <button class="btn"><i class="icon-bar-chart icon-large"></i><br />Charts</button> -->
                <img src="../../../assets/images/public/icon_mean.png">
              </div>
            </div>
          </div>
        </div>
        <div class="span8">
          <div class="blockoff-left">
            <legend class="lead">Tóm tắt</legend>
            <p>ĐỒ ÁN CUỐI KHOÁ LỚP MEAN16022019</p>
            <p>Xây dựng Web Service Restful API - Web aplication quản lý sản phẩm</p>
            <p>Thực hiện: Nguyễn Hoàng Hiếu (093 856 8414)</p>
            <p>Giáo viên hướng dẫn: Nguyễn Ngọc Hương Hương (094 276 4080)</p>
            <p>Tại Trung Tâm Đào Tạo Tin Học Khoa Phạm (38 Nguyễn Lâm, Phường 6, Quận 10, TP.HCM)</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="span16">
          <div class="box pattern pattern-sandstone">
            <div class="box-header">
              <i class="icon-list"></i>
              <h5>Nội dung</h5>
              <button class="btn btn-box-right" data-toggle="collapse" data-target=".box-list">
                <i class="icon-reorder"></i>
              </button>
            </div>
            <div class="box-content box-list collapse in">
              <ul>
                <li>
                  <div>
                    <!-- <a href="#" class="news-item-title">Duis aute irure dolor in reprehenderit</a> -->
                    <p class="news-item-preview">Welcome, các chức năng gồm có:</p>
                  </div>
                </li>
              
              </ul>
            </div>

          </div>
        </div>

      </div>
    </section>

  </div>
</div>